:root {    
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #212121;
    --secondary-text-color-theme-dark: #ffffff;
    --primary-text-color-theme-light: #757575;
    --secondary-text-color-theme-light: #303030;
    --list-link-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --portfolio-background: #f5f4fa;
    --color-background: #2f303a;
    --hero-btn-background: #188ce8;
    --border-colors: #ececec;
    --qualities-icon-bg: #f5f4fa;
    --icon-color: #afb1b8;
    --transparent-bg-portfolio: rgba(33, 150, 243, 0.9);
    --transparent-bg-color: rgba(47, 48, 58, 0.8);
    --icon-bg-footer: rgba(255, 255, 255, 0.1);
    --modal-bg-color: rgba(0, 0, 0, 0.2);
    --modal-bg-close: rgba(0, 0, 0, 0.1);
    --modal-border-accent: 1px solid #2196f3;
    --animation-duration: 250ms;
    --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
    --color-placeholder: rgba(117, 117, 117, 0.5);
  }